div {
    display: block;
}

.header {
    text-align: center;
    font-size: 60px;
    background-color: black;
    color: white;
    padding: 2em;
}

ul {
    font-size: 50px;
    width: 15%;
    margin: auto;
}

